
* {
  margin: 0;
  padding: 0;
}
html{
  justify-content: space-around;
  overflow-x: hidden;
}
body{
  background-image: url("Backgroundimg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 100%;
  max-height:100%;
/*   border: 5px solid black; */
  margin: 0%;
  padding: 0px;
  align-content: center;
  display:block;
}
.logo img{
	width: 5em;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* height: 300px; */
    /* grid-template-rows: minmax(200px, auto); */
    gap: 40px 20px;
    /* column-gap: 30px;
    row-gap: 30px; */
    text-align: center;
    font-style: italic;
  flex: auto;
}

div {
/*     border: 3px solid floralwhite; */
  border-inline: inline;
}


img{
    border-radius: 18%;
  max-width: 100%;
max-height: 100%;
  display: flex;
}
.title{
/*     text-align: center; */
    background-color: #FAFAD2;
    border: 1px;
    margin: 0px;
    padding: 0px;
/*   text-decoration-thickness: 20px; */
}


h1{
/*   color: white; */
    text-align: center;
  margin:0px;
  text-decoration-thickness: 20px;
}

h2{
    color: #7b3433;
}
h3{
  color: wheat;
  text-emphasis-color: black;
  text-decoration-thickness: 20px;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 10px;
}

tr th{
    background-color: purple;
    color: #a2eacb;
}

tr td{
    background-color: cornflowerblue;
    color: black;
}
@media screen and (max-width:400px) {
	body{
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
    image-orientation: 100%;
    border-image-width: 100%;
    display: grid;
/*     justify-content: space-around; */
	}	
  img{
    display: grid;
    max-width:100%;
  }
  .title{
    max-width: auto;
  }
}
@media print {
  body { font-size: 14pt;}
  img{
    display: flex-box;
    max-width:100%;
  }
}

@media screen {
  body { font-size: 17px;}
  .grid-container{
    display: grid;
  }
  img{
    display: grid;
    max-width:100%;
  }
}

@media screen, print {
  body { line-height: 1.2; }
  img{
    display: flex-box;
    max-width:100%;
  }
}

@media only screen
  and (min-width: 320px)
  and (max-width: 480px)
  and (resolution: 150dpi) {
    body { line-height: 1.4;
         margin-left: auto;
         margin-right: auto;}
  .title{
    max-width: 300%;
  }
  img{
    display: grid;
    max-width:100%;
  }
}
@media (height > 600px) {
    body { line-height: 1.4; 
         display: grid;
          margin: 0%;
  padding: 0px;
         }
  .grid-container{
          grid-template-columns: repeat(5, 1fr);
      }
  img{
    display: flex;
    max-width:100%;
  }
}

@media (400px <= width <= 700px) {
    body { line-height: 1.4;
         display: flexbox;
          justify-content: space-around;
         }
  .title{
    max-width: auto;
  }
  img{
    display: grid;
    max-width:100%;
  }
}
